<!DOCTYPE html>
<html lang="en">
<head>
    <title>PDF OCR</title>

    <meta name="language" content="en">

    {% block head %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
            // remodal globals
            window.REMODAL_GLOBALS = {
                DEFAULTS: {
                    hashTracking: false,
                    closeOnEscape: false
                }
            };
            $(function() {
                $('select').formSelect();
            })
        </script>
        <link href="/lib/remodal/remodal.css" rel="stylesheet">
        <link href="/lib/remodal/remodal-default-theme.css" rel="stylesheet">
        <script src="/lib/remodal/remodal.min.js"></script>
    {% endblock %}
</head>
<body style="padding: 1px;">
    <div id="preloader" style="position: fixed; width: 100%; height: 100%; z-index: 9999; background: #FFFFFF88; display: none;">
        <div class="preloader-wrapper big active" style="position: absolute; left: calc(50% - 32px); top: calc(50% - 32px); z-index: 9999; background: #FFFFFF88">
            <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    </div>
    {% block header %}
        <header>
        </header>
    {% endblock %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block footer %}
        <footer>
        </footer>
    {% endblock %}
</body>
